
.header{
	background-color: #3d55a7;
	color: #eee;
	margin-bottom: 1.5rem;
}
.main-nav{
	display: flex;
	justify-content: center;
	padding: 1rem;
	li{
		margin-left: 1.5rem;
		font-size: 1.2rem;
		list-style: none;
		cursor: pointer;
	}
}

.active-route{
	background-color: rgba(75, 75, 75, 0.92);
	padding: .5rem;
	border-radius: 30px;
}